body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: #003366;
}

img {
    width: 300px;
    border: 2px solid #333;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

button {
    background-color: #003366;
    color: white;
    padding: 5px 10px;
}

    margin-top: 0;
    font-size: 1.8rem;
}

p {
    color: #555;
}

ul.students {
    list-style: none;
    padding: 0;
}

ul.students li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

ul.students li:last-child {
    border-bottom: none;
}

ul.students a {
    color: #0066cc;
    text-decoration: none;
}

ul.students a:hover {
    text-decoration: underline;
}
